<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>All Posts</h1>
        
        <div class="post-list">
            <% for (post of posts) { %>
                <div class="posts">
                    <h3 class="user">@<%= post.username %></h3>
                    <p class="content"><b>Content:</b> <%= post.content %></p>
                    <a href="http://localhost:8080/posts/<%= post.id %>" class="button">See in Detail</a>
                    <a href="http://localhost:8080/posts/<%= post.id %>/edit" class="button">Edit</a>
                    <a href="http://localhost:8080/posts/<%= post.id %>/delete" class="button">Delete</a>
                    
                </div>
            <% } %>
        </div>
        
        <a href="http://localhost:8080/posts/new" class="create-posts-button">Create New Posts</a>
    </div><br><br><br>

    <marquee behaviour="scroll" direction="left" class="footer-marquee">
        ***This page is made by Saikat | Powered by HTML, CSS & JavaScript | Copyright 2024 | All Rights Reserved***
    </marquee>

</body>
</html>
